<div class="main" id="detention_dates">
  <h2 id="month">
    <%= link_to "<", date: @date.prev_month %>
    <%= @date.strftime("%B %Y") %>
    <%= link_to ">", date: @date.next_month %>
  </h2>
  <%= calendar @date do |date| %>
    <% @dd = @detention_dates[date].try(:first) %>
    <%= date.day %>
    <% if @dd %>
      <ul class="list-inline">
      <% if @dd.blacked_out %>
        <li><button class="btn btn-default"><span class="glyphicon glyphicon-remove red"></span></button></li>
      <% else %>
        <li>
        <button id="<%= @dd.id %>" class="btn btn-default blackout" data-toggle="tooltip" data-placement="bottom" title="Double click to blackout.">
          <span class="glyphicon glyphicon-ok green"></span>
        </button>
        </li>
      <% end %>
      <% if @dd.detentions.size > 0 %>
        <li>
        <button class="btn btn-primary show" data-id="<%= @dd.id %>" data-toggle="tooltip" data-placement="bottom" title="Click to see detention list.">
          <%= @dd.detentions.size %>
        </button>
        </li>
      <% end %>
      </ul>
    <% end %>
  <% end %>
</div>
