<h2 class="main">Detention Schedule for <%= @detention_date %></h2>

<table class="table table-condensed table-hover">
  <tr>
    <th>Student</th>
    <th>Issue(s)</th>
    <th>Teacher</th>
    <th>Assigned by</th>
    <th class="text-center">Complete?</th>
    <th class="text-center">Mark Complete</th>
    <th class="text-center">Reschedule</th>
  </tr>
  <% @detention_date.detentions.each do |d| %>
    <tr>
      <td><%= d.office_direct_referral.student %></td>
      <td><%= d.office_direct_referral.problem_behavior %></td>
      <td><%= d.office_direct_referral.user %></td>
      <td><%= d.assignor %></td>
      <td id="complete_<%= d.id %>" class="text-center"><%= complete_icons(d.completed) %></td>
      <td id="cl_<%= d.id %>" class="text-center">
        <%= link_to('<span class="glyphicon glyphicon-ok"></span>'.html_safe, '#', onclick: "mark_complete(#{d.id}); return false;", title: "Mark complete") unless d.completed %>
      </td>
      <td id="reschedule_<%= d.id %>" class="text-center">
        <%= link_to('<span class="glyphicon glyphicon-time"></span>'.html_safe, '#', onclick: "reschedule(#{d.id}); return false;", title: "Reschedule") unless d.completed %>
      </td>
    </tr>
  <% end %>
</table>
