<h2>Editing <%= @user %></h2>

<% if @user.errors.any? %>
  <div id="error_explanation" class="alert alert-danger">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this form from being saved:</h2>
    <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><span class="glyphicon glyphicon-remove"></span> <%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @user do |f| %>
  <p>
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </p>
  <p>
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email, size: 50 %>
  </p>
  <p>
    <%= f.label :role %><br />
    <%= f.collection_select :role, User.roles, :first, :first, include_blank: "Pick a role" %>
  </p>
  <p>
    <%= f.label :active %><br />
    <%= f.check_box :active %>
  </p>
  <p>
    <%= f.submit :save, class: 'btn btn-success' %>
  </p>
<% end %>
