<h2>Staff</h2>

<table class="table table-condensed table-hover">
  <% @users.each do |u| %>
    <tr>
      <td><%= u.to_s %></td>
      <td><%= u.email %></td>
      <td><%= u.role %></td>
      <td><%= active_icon(u.active) %></td>
      <td><%= link_to '<span class="glyphicon glyphicon-edit"></span>'.html_safe, edit_user_path(u) %></td>
    </tr>
  <% end %>
</table>

