<h2>Major referral</h2>

<%= form_for :office_direct_referral do |f| %>
<div class="row">
  <div class="col-md-4">
    <%= f.hidden_field :student_id %>
    <p>
      <label>Student</label>
      <%= text_field_tag :student_search, "", size: 40, autofocus: true %>
    </p>
  </div>
  <div class="col-md-2">
    <label>Grade:</label>
    <span id="grade"></span>
  </div>
  <div class="col-md-2">
    <label>Block:</label>
    <%= f.collection_select :block_id, Block.all, :id, :number, prompt: true %>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    &nbsp;
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <label>Referring Staff Member:</label>
    <%= f.collection_select :user_id, User.active, :id, :name, prompt: true %>
  </div>
  <div class="col-md-4">
    <label>Date of Incident:</label>
    <%= f.text_field :incident_date, size: 10 %>
  </div>
  <div class="col-md-4">
    <label>Time of Incident:</label>
    <%= text_field_tag :incident_time, nil, size: 10 %>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <hr />
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading">LOCATION</div>
      <div class="panel-body">
        <%= f.check_box :bus %> Bus<br />
        <%= f.check_box :cafeteria %> Cafeteria<br />
        <%= f.check_box :classroom %> Classroom<br />
        <%= f.check_box :library %> Library<br />
        <%= f.check_box :office %> Office<br />
        <%= f.check_box :hallway %> Hallway<br />
        <div class="idden" style="padding-left: 20px;">
          <%= f.text_field :hallway_name, placeholder: 'hallway name' %> <br />
        </div>
        <%= f.check_box :restroom %> Restroom<br />
        <%= f.check_box :gym %> Gym<br />
        <%= f.check_box :outside %> Outside (Playground)<br />
        <%= f.check_box :music_room %> Music Room<br />
        <%= f.check_box :locker_room %> Locker Room<br />
        <%= f.check_box :other_location %> Other location<br />
        <label for="">Location Notes:</label><br />
        <%= f.text_area :location_notes, size: '35x10' %>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading">PROBLEM BEHAVIOUR</div>
      <div class="panel-body">
        <%= f.check_box :fighting %> Fighting<br />
        <%= f.check_box :assault %> Assault<br />
        <%= f.check_box :insubordination %> Insubordination<br />
        <%= f.check_box :left_supervised_area %> Left supervised area<br />
        <%= f.check_box :threat_of_physical_harm %> Threat of physical harm<br />
        <%= f.check_box :harrassment %> Harrassment<br />
        <%= f.check_box :chronic_bullying %> Chronic Bullying/intimidation<br />
        <%= f.check_box :obscene_act %> Obscene act<br />
        <%= f.check_box :weapon %> Weapon<br />
        <%= f.check_box :destruction_of_property %> Destruction of property<br />
        <%= f.check_box :theft %> Theft/stolen property<br />
        <%= f.check_box :profanity %> Profanity<br />
        <%= f.check_box :truancy %> Truancy<br />
        <%= f.check_box :tabacco_drugs %> Use/Posession Tobacco/Drugs<br />
        <label for="">Behaviour Notes:</label><br />
        <%= f.text_area :behaviour_notes, size: '35x10' %>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading">ENVIRONMENTAL FACTORS</div>
      <div class="panel-body">
        <%= f.check_box :adult_request %> Adult request/directive<br />
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading">POSSIBLE MOTIVATION</div>
      <div class="panel-body">
        <%= f.check_box :gain_peer_attention %> Gain peer attention<br />
      </div>
    </div>
  </div>
</div>
<% end %>

<script type="text/javascript" charset="utf-8">
  $().ready(function () {
      $('#office_direct_referral_incident_date').datepicker({minDate: (new Date(2013, 7, 1)), maxDate: (new Date(2014, 6, 1))});
      $('#incident_time').timepicker({ 'scrollDefaultNow': true, 'step': 5 });
  });
</script>
