<h2>Major referral</h2>

<% if @office_direct_referral.errors.any? %>
  <div id="error_explanation" class="alert alert-danger">
  <h2><%= pluralize(@office_direct_referral.errors.count, "error") %> prohibited this form from being saved:</h2>
  <ul>
    <% @office_direct_referral.errors.full_messages.each do |msg| %>
      <li><span class="glyphicon glyphicon-remove"></span> <%= msg %></li>
  <% end %>
  </ul>
</div>
<% end %>

<%= form_for @office_direct_referral do |f| %>
<div class="row">
  <div class="col-md-4">
    <%= f.hidden_field :student_id %>
    <p>
      <label>Student</label>
      <%= text_field_tag :student_search, @student.try(:name_plus_number), size: 40, autofocus: true %>
    </p>
  </div>
  <div class="col-md-4">
    <label>Grade:</label>
    <span id="grade"><%= @student.try(:grade) %></span>
  </div>
  <div class="col-md-4">
    <label>Block:</label>
    <%= f.collection_select :block_id, Block.all, :id, :number, prompt: true %>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    &nbsp;
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <label>Referring Staff Member:</label>
    <%= f.collection_select :user_id, User.active, :id, :name, prompt: true %>
  </div>
  <div class="col-md-4">
    <label>Date of Incident:</label>
    <%= text_field_tag :incident_date, @office_direct_referral.formatted_date, size: 10, placeholder: 'mm/dd/yyyy' %>
  </div>
  <div class="col-md-4">
    <label>Time of Incident:</label>
    <%= text_field_tag :incident_time, @office_direct_referral.formatted_time, size: 10, placeholder: 'hh:mmAM' %>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <hr />
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading">LOCATION</div>
      <div class="panel-body">
        <%= f.check_box :bus %> Bus<br />
        <%= f.check_box :cafeteria %> Cafeteria<br />
        <%= f.check_box :classroom %> Classroom<br />
        <%= f.check_box :library %> Library<br />
        <%= f.check_box :office %> Office<br />
        <%= f.check_box :hallway %> Hallway<br />
        <div class="idden" style="padding-left: 20px;">
          <%= f.text_field :hallway_name, placeholder: 'hallway name' %> <br />
        </div>
        <%= f.check_box :restroom %> Restroom<br />
        <%= f.check_box :gym %> Gym<br />
        <%= f.check_box :outside %> Outside (Playground)<br />
        <%= f.check_box :music_room %> Music Room<br />
        <%= f.check_box :locker_room %> Locker Room<br />
        <%= f.check_box :other_location %> Other location<br />
        <label class="notes">Location Notes:</label><br />
        <%= f.text_area :location_notes, size: '35x10' %>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading">PROBLEM BEHAVIOUR</div>
      <div class="panel-body">
        <%= f.check_box :fighting %> Fighting<br />
        <%= f.check_box :assault %> Assault<br />
        <%= f.check_box :insubordination %> Insubordination<br />
        <%= f.check_box :left_supervised_area %> Left supervised area<br />
        <%= f.check_box :threat_of_physical_harm %> Threat of physical harm<br />
        <%= f.check_box :harrassment %> Harrassment<br />
        <%= f.check_box :chronic_bullying %> Chronic Bullying/intimidation<br />
        <%= f.check_box :obscene_act %> Obscene act<br />
        <%= f.check_box :weapon %> Weapon<br />
        <%= f.check_box :destruction_of_property %> Destruction of property<br />
        <%= f.check_box :theft %> Theft/stolen property<br />
        <%= f.check_box :profanity %> Profanity<br />
        <%= f.check_box :truancy %> Truancy<br />
        <%= f.check_box :tobacco_drugs %> Use/Posession Tobacco/Drugs<br />
        <%= f.check_box :other_behaviour %> Other Behaviour<br />
        <label class="notes">Behaviour Notes:</label><br />
        <%= f.text_area :behaviour_notes, size: '35x10' %>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading">ENVIRONMENTAL FACTORS</div>
      <div class="panel-body">
        <%= f.check_box :adult_request %> Adult request/directive<br />
        <%= f.check_box :oral_instruction %> Oral instruction<br />
        <%= f.check_box :individual_seat_work %> Individual seat work<br />
        <%= f.check_box :group_work %> Group Work<br />
        <%= f.check_box :managing_materials %> Managing materials<br />
        <%= f.check_box :external_interruptions %> External interruptions (guest, <br /><div style="padding-left: 20px;">PA, phone, student in the hall)</div>
        <%= f.check_box :classroom_transition %> Classroom transition<br />
        <%= f.check_box :hallway_passing_time %> Hallway Passing time<br />
        <%= f.check_box :teasing_from_peer %> Teasing from peer<br />
        <%= f.check_box :change_in_routine %> Change in routine<br />
        <%= f.check_box :guest_teacher %> Guest teacher<br />
        <%= f.check_box :env_outside %> Outside<br />
        <%= f.check_box :lunchroom %> Lunchroom<br />
        <%= f.check_box :other_environmental %> Other Environmental<br />
        <label class="notes">Environmental Notes:</label><br />
        <%= f.text_area :environmental_notes, size: '35x10' %>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading">POSSIBLE MOTIVATION</div>
      <div class="panel-body">
        <%= f.check_box :gain_peer_attention %> Gain peer attention<br />
        <%= f.check_box :gain_adult_attention %> Gain Adult attention<br />
        <%= f.check_box :obtain_item %> Gain/obtain item<br />
        <%= f.check_box :obtain_activity %> Gain/obtain activity<br />
        <%= f.check_box :avoid_peers %> Avoid peer(s)<br />
        <%= f.check_box :avoid_adults %> Avoid adult(s)<br />
        <%= f.check_box :avoid_seat_work %> Avoid seat work<br />
        <%= f.check_box :avoid_group_work %> Avoid group work<br />
        <%= f.check_box :avoid_event %> Avoid scheduled event<br />
        <%= f.check_box :other_motivation %> Other motivation<br />
        <label class="notes">Motivation Notes:</label><br />
        <%= f.text_area :motivation_notes, size: '35x10' %>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">OTHERS INVOLVED</div>
      <div class="panel-body">
        <ul class="list-inline">
          <li><%= f.check_box :peers %> Peers</li>
          <li><%= f.check_box :staff %> Staff</li>
          <li><%= f.check_box :teacher %> Teacher</li>
          <li><%= f.check_box :others_guest_teacher %> Guest Teacher</li>
          <li><%= f.check_box :other_involved %> Other</li>
          <li><%= f.check_box :unknown %> Unknown</li>
          <li><label>Involved Notes:</label>
          <%= f.text_field :involved_notes, size: '75' %></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<p style="margin-bottom: 40px;">
  <%= f.submit :save, class: 'btn btn-success' %>
</p>
<% end %>
