<div class="row">
  <div class="col-md-12">
    <h2>Open referrals</h2>
    <table class="table table-condensed table-hover">
      <tr>
        <th>Student</th>
        <th class="text-center">Grade</th>
        <th class="text-center">Block</th>
        <th>Staff</th>
        <th>Date</th>
        <th>Time</th>
        <th>Detention</th>
        <th>&nbsp;</th>
      </tr>
    <% @office_direct_referrals.each do |r| %>
     <tr>
       <td><%= r.student %></td>
       <td class="text-center"><%= r.student.grade %></td>
       <td class="text-center"><%= r.block %></td>
       <td><%= r.kmsteacher %></td>
       <td><%= r.incident_date.strftime('%m/%d/%y') %></td>
       <td><%= r.incident_date.strftime('%l:%M %p') %></td>
       <td><%= r.detention.detention_date.date.strftime("%a, %b %d") if r.detention %></td>
       <td><%= link_to '<span class="glyphicon glyphicon-edit"></span>'.html_safe, edit_office_direct_referral_path(r) %></td>
     </tr>
    <% end %>
    </table>
  </div>
</div>
